/*
 * This file is part of ARSnova Mobile.
 * Copyright (C) 2011-2012 Christian Thomas Weber
 * Copyright (C) 2012-2015 The ARSnova Team
 *
 * ARSnova Mobile is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Mobile is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Mobile.  If not, see <http://www.gnu.org/licenses/>.
 */

@include icon-font('arsnova', inline-font-files(
 'arsnova/arsnova.woff', woff,
 'arsnova/arsnova.ttf', truetype,
 'arsnova/arsnova.svg', svg
));

@include icon("icon-ars" , "\61", "arsnova");
@include icon("icon-radar" , "\72", "arsnova");
@include icon("icon-nova" , "\6e", "arsnova");
@include icon("icon-thm" , "\74", "arsnova");
@include icon("icon-users" , "\e600", "arsnova");
@include icon("icon-thm-full" , "\e603", "arsnova");
@include icon("icon-gear" , "\e605", "arsnova");
@include icon("icon-home" , "\e606", "arsnova");
@include icon("icon-bullhorn" , "\f0a1", "arsnova");
@include icon("icon-renew" , "\e608", "arsnova");
@include icon("icon-lock" , "\e609", "arsnova");
@include icon("icon-play" , "\e60a", "arsnova");
@include icon("icon-pause" , "\e60b", "arsnova");
@include icon("icon-question" , "\f128", "arsnova");
@include icon("icon-info" , "\f129", "arsnova");
@include icon("icon-exclamation" , "\f12a", "arsnova");
@include icon("icon-chart" , "\f012", "arsnova");
@include icon("icon-unlock" , "\f09c", "arsnova");
@include icon("icon-unlock2" , "\e612", "arsnova");
@include icon("icon-prof" , "\e613", "arsnova");
@include icon("icon-user" , "\e614", "arsnova");
@include icon("icon-speaker" , "\e615", "arsnova");
@include icon("icon-happy" , "\e616", "arsnova");
@include icon("icon-sad" , "\e617", "arsnova");
@include icon("icon-wink" , "\e618", "arsnova");
@include icon("icon-shocked" , "\e619", "arsnova");
@include icon("icon-close" , "\e61a", "arsnova");
@include icon("icon-presenter" , "\e602", "arsnova");
@include icon("icon-book" , "\f02d", "arsnova");
@include icon("icon-book2" , "\e601", "arsnova");
@include icon("icon-blog" , "\f0f6", "arsnova");
@include icon("icon-newsession" , "\f044", "arsnova");
@include icon("icon-cloud-download" , "\e2b6", "arsnova");
@include icon("icon-cloud-upload " , "\e2b7", "arsnova");
@include icon("icon-cloud" , "\e2b5", "arsnova");
@include icon("icon-copy" , "\e92c", "arsnova");
@include icon("icon-sign-in" , "\e604", "arsnova");
@include icon("icon-clock" , "\f017", "arsnova");
@include icon("icon-qrcode" , "\e938", "arsnova");
@include icon("icon-play-circle" , "\f01d", "arsnova");
@include icon("icon-timer" , "\f1da", "arsnova");
@include icon("icon-trophy" , "\f091", "arsnova");
@include icon("icon-circle" , "\f1db", "arsnova");
@include icon("icon-square" , "\f096", "arsnova");
@include icon("icon-text-height" , "\f034", "arsnova");
@include icon("icon-projector" , "\e607", "arsnova");
@include icon("icon-dashboard" , "\f0e4", "arsnova");

@include icon("icon-undo", "\f0e2", "arsnova");
@include icon("icon-drag", "\f0dc", "arsnova");
@include icon("icon-sort" , "\f160", "arsnova");
@include icon("icon-sort-alpha", "\f15d", "arsnova");
@include icon("icon-sort-time", "\f017", "arsnova");
@include icon("icon-sort-random", "\f074", "arsnova");

@include icon("icon-check" , "3", "Pictos");
@include icon('minus2');

@include icon("login-icon-guest" , "\e616", "arsnova");
@include icon("login-icon-arsnova" , "\72", "arsnova");
@include icon("login-icon-cas" , "\74", "arsnova");
@include icon("login-icon-ldap" , "\e613", "arsnova");
@include icon("login-icon-twitter" , "\f081", "arsnova");
@include icon("login-icon-facebook" , "\e60f", "arsnova");
@include icon("login-icon-google" , "\e611", "arsnova");

@include icon("icon-miniatur" , "\f00a", "arsnova");
@include icon("icon-horizontal-list" , "\f0c9", "arsnova");
@include icon("icon-vertical-list" , "\f142", "arsnova");

@include icon("icon-editor-bold" , "\f032", "arsnova");
@include icon("icon-editor-header" , "\f1dc", "arsnova");
@include icon("icon-editor-hyperlink" , "\f0ac", "arsnova");
@include icon("icon-editor-ul" , "\f0ca", "arsnova");
@include icon("icon-editor-ol" , "\f0cb", "arsnova");
@include icon("icon-editor-script" , "\f12b", "arsnova");
@include icon("icon-editor-code" , "\f121", "arsnova");
@include icon("icon-editor-quote" , "\f10e", "arsnova");
@include icon("icon-editor-image" , "\f1c5", "arsnova");
@include icon("icon-editor-youtube" , "\f167", "arsnova");
@include icon("icon-editor-vimeo" , "\f194", "arsnova");

.icon-logo {
	font-size: 3em;
	text-align: center;
	font-family: "arsnova";
	margin-left: -0.2em;
}

.icon-logo-radar {
	color: $logo-icon-color;
	margin-right: -.20em;
	margin-left: 5px;
	content: "r";
}

.icon-logo-ars {
	color: $logo-ars-color;
	content: "a";
}

.icon-logo-nova {
	color: $logo-nova-color;
	content: "n";
}

.voteIcons {
	top: 2px;
	font-size: 16px;
	margin-bottom: 3.5px!important;
}

.codeListingIcon::before {
	content: "\f121";
	font-family: "arsnova";
}

.vimeoIcon::before {
	content: "\f194";
	font-family: "arsnova";
	left: 3px !important;
}

.youtubeIcon::before {
	content: "\f167";
	font-family: "arsnova";
	left: 3px !important;
}

.imageIcon::before {
	content: "\f1c5";
	font-family: "arsnova";
	left: 3px !important;
}

.x-tabbar  {
	.icon-gear {
		font-size: 18px;
	}

	.icon-questions,
	.icon-gear {
		margin-left: 17px !important;
	}

	.icon-blog {
		top: 4px;
		left: 1px;
		font-size: 0.8em;
		margin-bottom: 5.5px !important;
	}

	.icon-bullhorn {
		top: 1px;
		font-size: 0.9em;
		margin-bottom: 2.5px !important;
	}

	.icon-presenter {
		top: 2.5px;
		font-size: 0.9em;
		margin-bottom: 2.5px !important;
	}

	.icon-questions,
	.icon-home {
		top: -1px;
		font-size: 1.1em;
		margin-bottom: -3.5px !important;
	}

	.icon-question {
		font-size: 20px;
		top: -2px;
		margin-bottom: -3.5px!important;
	}

	.icon-book {
		top: 2px;
		font-size: 17px;
		margin-bottom: 2px!important;
	}

	.icon-info {
		top: 2px;
		font-size: 18px;
		margin-bottom: 0px!important;
	}

	.icon-lock {
		font-size: 19px;
		top: 1px;
		margin-bottom: -1.5px!important;
	}

	.icon-users {
		font-size: 18px;
		top: -1.5px;
		margin-bottom: 0px!important;
	}
}

.feedbackStatisticButton {
	border: none !important;
	margin: 0 auto !important;
	background: none !important;
	font-size: 1.75em;

	.icon-happy, .icon-wink, .icon-sad, .icon-shocked {
		color: $smiley-color;
	}
}

.forwardListButton {
	.icon-happy, .icon-wink, .icon-sad, .icon-shocked {
		color: $smiley-color;
		margin-right: 15px;
   		width: 28px !important;
    	height: 28px !important;
	}

	.icon-cloud {
		color: $button-icon-color;
	}

	.icon-bullhorn {
		color: $icon-bullhorn-color !important;
		margin-right: 16px;
	}

	.icon-prof {
		font-size: 0.85em;
		margin-right: 4px;
		margin-bottom: -3px;
	}

	.icon-users {
		font-size: 0.9em;
		margin-right: 1px;
		margin-bottom: 4px;
	}

	.icon-presenter {
		color: $icon-presenter-color !important;
		margin-left: 0.5px;
		margin-right: -0.5px;
	}
}

.voteButton .x-button-icon,
.x-button .iconBtnImg.x-button-icon {
	width: 48px;
	height: 48px;
	font-size: 48px;
	line-height: 48px;
}

.voteButton .x-button-icon:before,
.x-toolbar .voteButton .x-button-icon:before,
.x-button .iconBtnImg.x-button-icon:before {
	font-size: inherit !important;
	line-height: initial !important; /* ie10+ fallback */
	line-height: 1em !important;
}

.iconBtn {
	.icon-newsession {
		color: $icon-newsession-color;
		margin-left: 19px !important;
		margin-top: 15px !important;
		font-size: 50px !important;
	}

	.icon-close {
		color: $icon-delete-close-icon-color;

		&.warningIconColor {
			color: $brand-warning;
		}
	}

	.icon-chart {
		color: $icon-chart-color;
		margin-left: 13px !important;
	}

	.icon-question {
		color: $icon-questionmark-color;
		font-size: 70px !important;
		margin-top: 4px !important;
	}

	.icon-dashboard {
		color: $icon-feature-entry-color;
		font-size: 56px !important;
		margin-top: 9px !important;
		margin-left: 11px !important	
	}

	.icon-gear {
		font-size: 60px !important;
		margin-top: 10px !important;
		margin-left: 14px !important;
	}

	.icon-group {
		font-size: 44px !important;
		margin-top: 18px !important;
	}

	.icon-renew {
		font-size: 56px !important;
		margin-top: 12px !important;
	}

	.icon-users {
		margin-top: 14px !important;
	}

	.icon-lock {
		color: $icon-lock-locked-color;
	}

	.icon-unlock {
		color: $icon-lock-unlocked-color;
	}

	.login-icon-ldap {
		margin: 16px 0 0 10px !important;
		font-size: 46px !important;
	}

	.login-icon-twitter,
	.login-icon-facebook,
	.login-icon-google {
		margin: 9px 0 0 14px !important;
		font-size: 60px !important;
	}

	.icon-timer {
		color: $icon-release-timer-color;
		font-size: 52px !important;
		margin: 14px 0 0 17px !important;
	}
}

.icon-timer {
	left: 1px;
	top: -1px;
}

.login-icon-cas {
	color: #80ba24;
}

.login-icon-arsnova {
	color: $arsnova-color;
}

.login-icon-twitter {
	color: $twitter-color;
}

.login-icon-facebook {
	color: $facebook-color;
}

.login-icon-google {
	color: $google-color;
}

.icon-happy, .icon-wink, .icon-sad,
.icon-shocked, .login-icon-guest {
	color: $smiley-color;
	-moz-transform:rotate(20deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(20deg); /* Safari */
	-o-transform:rotate(20deg); /* Opera */
	-ms-transform:rotate(20deg); /* IE9 */
	transform:rotate(20deg); /* W3C */
}

.icon-happy:after, .icon-wink:after, .icon-sad:after,
.icon-shocked:after, .login-icon-guest:after {
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	content: " ";
	position: absolute;
	z-index: -50;
	display: inline-block;
	border-radius: 50%/50%;
	box-shadow: inset 50px 50px 50px $smiley-bg-color;
}

.text-icons {
	font-size: inherit !important;
	line-height: initial !important;
	line-height: 1em !important;

	font-family: "arsnova" !important;
	font-size: 32px !important;

	&.login-icon-guest:before {
		content: "\e616";
	}

	&.login-icon-arsnova:before {
		content: "\72";
	}

	&.login-icon-cas:before {
		content: "\74";
	}

	&.login-icon-ldap:before {
		content: "\e613";
	}

	&.login-icon-twitter:before {
		content: "\f081";
	}

	&.login-icon-facebook:before {
		content: "\e60f";
	}

	&.login-icon-google:before {
		content: "\e611";
	}
}

.swotBadgeIcon:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	font-family: "arsnova";
	content: "\f091";
	font-size: 100px;
}

.roleIcon {
	font-size: 1.5em;
	color: white;
	font-family: "arsnova";
	margin-left: 10px;

	&.userRole:before {
		content: "\e600";
		margin-bottom: 2px;
	}
	
	&.speakerRole:before {
		content: "\e615";
		margin-bottom: 0px;
	}
}

.icon-horizontal-list-config {
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari */
  -o-transform:rotate(90deg); /* Opera */
  -ms-transform:rotate(90deg); /* IE9 */
  transform:rotate(90deg); /* W3C */
}
