/*
 * This file is part of ARSnova Mobile.
 * Copyright (C) 2011-2012 Christian Thomas Weber
 * Copyright (C) 2012-2015 The ARSnova Team
 *
 * ARSnova Mobile is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Mobile is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Mobile.  If not, see <http://www.gnu.org/licenses/>.
 */
 


@mixin label-config {
	font-family: $projectormode-font-family !important;
	color: $projectormode-text-color !important;
}

.x-speaker-utils {
	width: 150px;
	right: 0;
	bottom: 0;
	position: absolute;
	background: transparent;
	border: none !important;
}

.zoomButton {
	width: 44px;
	height: 33px;
	font-size: 1em;
	position: absolute;
	bottom: 0;
	right: 0;

	.icon-text-height::before {
		top: -1px !important;
		right: 3px !important;
	}

	&.zoomSheetActive {
		z-index: 999;
		font-size: 0.9em;
		margin-right: 4px;

		.x-button-icon {
			margin-right: 1px;
		}
	}
}

.zoomActionSheet {
	padding: 0;
	border: 1px solid $background-color;

	.sliderField {
		padding-right: 2em;
		text-align: center;
	}
}

.x-speaker-utils .x-button {
	&.projectorButton {
		right: 48px;

		.icon-projector::before {
			top: -10px !important;
			left: -7px !important;
			font-size: 2em !important;
		}
	}

	&.hideControlButton {
		right: 96px;

		.icon-gear::before {
			top: -4px !important;
			left: -2px !important;
			font-size: 1.5em !important;
		}
	}

	&.projectorButton, &.hideControlButton {
		width: 44px;
		height: 33px;
		font-size: 1em;
		position: absolute;
		bottom: 0;
	}

	&.x-button.x-button-action.x-button-pressed {
		color: white;
		background: $projectormode-active-color !important;
	}
}

.projector-mode {
	.x-input-el,
	.x-form-label span {
		@include label-config;
	}

	.x-list-item, .x-form-fieldset-title, .x-label, .roundedBox, .centerText {
		.x-innerhtml {
			@include label-config;
		}
	}

	.x-toolbar-light .x-button-back {
		color: $projectormode-text-color !important;
		background: $projectormode-back-button-color !important;
		border: 1px solid $projectormode-back-button-color !important;
	}

	.gravure,
	.disableDefault .x-form-label span,
	.questionStatisticTitle .x-innerhtml,
	.x-field-input .x-input-el {
		color: $projectormode-text-color !important;
	}

	.x-carousel-indicator {
		span {
			background-color: $projectormode-primary-color;
		}

		span.x-carousel-indicator-active {			
			background-color: $projectormode-secondary-color;
			box-shadow: 0 0 1px 0 $projectormode-primary-color;

			p {
				color: $projectormode-text-color;
			}
		}		
	}
}